{% extends 'catalog/base.html' %}

{% block content%}

<form method="post" enctype="multipart/form-data">
<div class="container-fluid">
<div class="row">

    <div class="col-6">
            {% csrf_token%}
            {{ form.as_p }}
            <button type="submit">
                Войти
            </button>
    </div>


    <div class="col-6">
         <p><a href="{% url 'users:password-reset' %}" class="btn btn-primary">Восстановить пароль</a></p>
    </div>


</div>
</div>
</form>

{% endblock%}>